.animate
{
  
}
.text_context_Summary
{
  color: rgb(255, 255, 255);
  font-size: 8vh;
  font-family: 'Inria Sans', sans-serif;
  top: 5vh; /* Ví dụ, sử dụng vh để giữ vị trí tương đối với viewport */
  left: 10vw; /* Sử dụng vw để vị trí phụ thuộc vào chiều rộng của viewport */
  margin: 0vh 0; 

}
.text_context_Summary2  
{
  color: #FF8900;
  font-size: 8vh;
  font-weight: 550;
  font-family: sans-serif;
  font-family: 'Inria Sans', sans-serif;
  top: 5vh; /* Ví dụ, sử dụng vh để giữ vị trí tương đối với viewport */
  left: 10vw; /* Sử dụng vw để vị trí phụ thuộc vào chiều rộng của viewport */
  margin: 0vh 0; 
}
.text_context_Summary22
{
  color: #FF8900;
  font-size: 8vh;
  font-weight: 550;
  font-family: sans-serif;
  font-family: 'Inria Sans', sans-serif;
  top: 5vh; /* Ví dụ, sử dụng vh để giữ vị trí tương đối với viewport */
  left: 10vw; /* Sử dụng vw để vị trí phụ thuộc vào chiều rộng của viewport */
  margin: 0vh 0; 
}
.text_context_Summary3
{
  color: rgba(255, 255, 255, 0.874);
  font-size: 3vh;
  
 
  font-family: 'Inria Sans', sans-serif;
  top: 5vh; /* Ví dụ, sử dụng vh để giữ vị trí tương đối với viewport */
  left: 10vw; /* Sử dụng vw để vị trí phụ thuộc vào chiều rộng của viewport */
  margin: 1vh 0; 
  animation: slideDown 0.5s ease-out forwards;

}

.divngang
{

 margin-top: 5vh;
  display: flex;
  width: fit-content;
  animation: slideDown 0.5s ease-out forwards;

}
.divngang2
{
  margin-top: 3vh;
  display: flex;

}
.img {
  height: 4.15vh;
  width: 4.15vh; /* Chỉnh sửa giá trị này để thay đổi kích thước chiều rộng */
  top: 5vh; /* Ví dụ, sử dụng vh để giữ vị trí tương đối với viewport */
  bottom: 5vh;
  left: 10vw; /* Sử dụng vw để vị trí phụ thuộc vào chiều rộng của viewport */
  margin: 1.3vh 0 3vh 0; /* Cập nhật: thêm margin-left là 3vh */
 
}

.img2 {


  width: 5vh; /* Chỉnh sửa giá trị này để thay đổi kích thước chiều rộng */
  top: 5vh; /* Ví dụ, sử dụng vh để giữ vị trí tương đối với viewport */
  bottom: 5vh;
  left: 10vw; /* Sử dụng vw để vị trí phụ thuộc vào chiều rộng của viewport */
  margin: 1vh 0 3vh 0; /* Cập nhật: thêm margin-left là 3vh */
  margin-left: 3vh;
}

.img3 {


  width: 5vh; /* Chỉnh sửa giá trị này để thay đổi kích thước chiều rộng */
  top: 5vh; /* Ví dụ, sử dụng vh để giữ vị trí tương đối với viewport */
  bottom: 5vh;
  left: 10vw; /* Sử dụng vw để vị trí phụ thuộc vào chiều rộng của viewport */
  margin: 1vh 0 3vh 0; /* Cập nhật: thêm margin-left là 3vh */
  margin-left: 2vh;
}



/*sun*/

.suntext
{
  color: rgba(255, 255, 255, 0.874);
  font-size: 2.2vh;
  font-weight: 300;

  
  max-width: 70vh;
  font-family: 'Inria Sans', sans-serif;
  top: 5vh; /* Ví dụ, sử dụng vh để giữ vị trí tương đối với viewport */
  left: 10vw; /* Sử dụng vw để vị trí phụ thuộc vào chiều rộng của viewport */
  margin: 1vh 0; 
  animation: slideDown 0.5s ease-out forwards;


}
.fp
{
  margin-top: 6vh;
}
.sun_highlight {
  color: #FF8900;
  font-size: 2.2vh;
  font-weight: 800;


  font-family: 'Inria Sans', sans-serif;
}
.wikitxt
{
  color: #40C6FF;

  font-size: 2.2vh;
  font-weight: 300;

  
  max-width: 70vh;
  font-family: 'Inria Sans', sans-serif;
  top: 5vh; /* Ví dụ, sử dụng vh để giữ vị trí tương đối với viewport */
  left: 10vw; /* Sử dụng vw để vị trí phụ thuộc vào chiều rộng của viewport */
  margin: 1vh 0; 
  text-decoration: none; 

}
.wikitxt:hover
{
  text-decoration: underline;
}
.fwiki {
  margin-top: 5vh;
  display: flex; /* Sử dụng flexbox để hiển thị nội dung trên một hàng ngang */
  justify-content: flex-end; /* Đặt nội dung ở bên phải */
  margin-right:35vh;
  text-decoration: none;
}
.imglink
{ 

  margin-top: 0.6vh;
  height: 1.8vh;
  width: 1.8vh; /* Chỉnh sửa giá trị này để thay đổi kích thước chiều rộng */
  top: 1vh; 

}